#wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #b3c7e6;
}
nav{
	float: left;
	width: 60px;

}
#rightcol{
	margin-left: 155px;
	background-color:#FFF;
}
header{
	background-color: #00f;
}